<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Link del Repositorio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Repositorio</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-content class="ion-text-center">

      <ion-avatar style="margin: auto; margin-bottom: 15px;">
        <img src="https://scontent.fuio13-1.fna.fbcdn.net/v/t39.30808-6/464699858_2855811231242760_3922094272498879135_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=833d8c&_nc_ohc=3RuL0XLy5ekQ7kNvgGX-puC&_nc_ht=scontent.fuio13-1.fna&_nc_gid=AxRPgoa0LQJK7zC5DT5_Cdm&oh=00_AYCEGXMy_z0WXhHPcdAiX8sJyx76KFHzlLCsyesHA7q7fg&oe=6721B1E5" alt="Foto de Yuverly Verdezoto">
      </ion-avatar>

      <p>Este es el repositorio de GitHub de esta aplicación.</p>

      <!-- Botón de GitHub -->
      <ion-button color="primary" href="https://github.com/YuverlyHidokun/Prueba01-Ionic.git" target="_blank">
        <ion-icon name="logo-github" slot="start"></ion-icon>
        Ver en GitHub
      </ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img alt="Silhouette of mountains" src="https://scontent.fuio13-1.fna.fbcdn.net/v/t39.30808-6/464699858_2855811231242760_3922094272498879135_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=833d8c&_nc_ohc=3RuL0XLy5ekQ7kNvgGX-puC&_nc_ht=scontent.fuio13-1.fna&_nc_gid=AxRPgoa0LQJK7zC5DT5_Cdm&oh=00_AYCEGXMy_z0WXhHPcdAiX8sJyx76KFHzlLCsyesHA7q7fg&oe=6721B1E5" />
    <ion-card-header>
      <ion-card-title>Foto mas Clara</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>
