<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Link del Repositorio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-content class="ion-text-center">

      <ion-avatar style="margin: auto; margin-bottom: 15px;">
        <img src="URL_DE_TU_FOTO" alt="Foto de Yuverly Verdezoto">
      </ion-avatar>

      <!-- Texto de Descripción -->
      <p>Este es el repositorio de GitHub de esta aplicación.</p>

      <!-- Botón de GitHub -->
      <ion-button color="primary" href="URL_DE_TU_REPOSITORIO" target="_blank">
        <ion-icon name="logo-github" slot="start"></ion-icon>
        Ver en GitHub
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
