<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Biografía de Yuverly Verdezoto
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>¿Quién soy?</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Soy estudiante de la Escuela Politécnica Nacional en la carrera de Desarrollo de Software, actualmente en el nivel de nivelación, dentro de la facultad ESFOT.
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-list-header>
      <h3>Datos Generales</h3>
    </ion-list-header>
    <ion-item>
      <ion-label>Tengo 21 años</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Nací en Quito, Ecuador</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Realicé mis estudios de primaria en la "Escuela Ciudad de Bergen"</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Estudié la secundaria en el "Colegio Fiscal Celiano Monge"</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Soy desarrollador de software Full Stack</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Dibujo como pasatiempo</ion-label>
    </ion-item>
  </ion-list>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Infancia</ion-card-title>
      <ion-card-subtitle>Interés por la computación</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Desde pequeño, siempre he sido un apasionado por los videojuegos y la tecnología en general. Pasaba muchas horas frente al computador buscando tutoriales en internet para aprender cosas nuevas que podía aplicar en mi día a día. Comencé aprendiendo a usar programas básicos, como el paquete de Microsoft Office, y descubrí cómo dibujar en el antiguo Paint. Incluso empecé a usar Movie Maker para crear pequeños proyectos personales, además de pasar horas jugando a videojuegos que mi madre me compraba.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Adolescencia</ion-card-title>
      <ion-card-subtitle>Desarrollo de habilidades</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Alrededor de los 12 o 13 años, mi pasión por la tecnología creció aún más. En el colegio comencé a experimentar con programas nuevos para esa época, como Camtasia Studio, y dejé de usar Movie Maker. Al dominar Word, con frecuencia ayudaba a maestros y compañeros a manejar estas herramientas. Fue en esta época cuando también desarrollé una pasión por el arte, primero dibujando en Paint y ocasionalmente en un cuaderno que llamaba "Avances". Más adelante descubrí Paint Tool SAI, lo que me permitió dar el salto del arte tradicional al digital, progresando a pesar de los desafíos.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Proyectos en los que he trabajado</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Imagen de un paisaje de montañas" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTWm20VD9kJm6ALTvc_N4-zkdFVseFNn8MYtw&s" />
          </ion-thumbnail>
          <ion-label>
            Desarrollé un fangame inspirado en la franquicia "Sonic the Hedgehog" utilizando el motor de desarrollo GameMaker Studio. Aunque el proyecto fue cancelado debido a la falta de experiencia, fue una gran oportunidad de aprendizaje.
          </ion-label>
        </ion-item>
  
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Logo de un canal de YouTube" src="https://yt3.googleusercontent.com/THswFJvayeVUeool554BrU9NfoNRDBVBlg9SDEAFr_akYWToOjs75wqBC7PlhEKtmdMUGZksI3I=s160-c-k-c0x00ffffff-no-rj" />
          </ion-thumbnail>
          <ion-label>
            Creé un canal de YouTube que sigo actualizando hasta hoy. En este espacio comparto mis opiniones, realizo reviews de juegos y otros temas de interés.
          </ion-label>
        </ion-item>
  
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Ilustración artística" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/ee91975d-4eb1-4ee2-bc1b-336ee1da7502/dh8orq2-67f414d4-0eeb-42c8-bdf3-31f71a5c851e.png/v1/fill/w_894,h_894,q_70,strp/super_hidokun_8_by_hidokun_dh8orq2-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTAyNCIsInBhdGgiOiJcL2ZcL2VlOTE5NzVkLTRlYjEtNGVlMi1iYzFiLTMzNmVlMWRhNzUwMlwvZGg4b3JxMi02N2Y0MTRkNC0wZWViLTQyYzgtYmRmMy0zMWY3MWE1Yzg1MWUucG5nIiwid2lkdGgiOiI8PTEwMjQifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.DH2zdq9NzH0FI0MpPXzWJpWgtQPKQnysmlseN2ihC4c" />
          </ion-thumbnail>
          <ion-label>
            Creé y gestiono cuentas de arte en DeviantArt, Twitter, Facebook e Instagram, donde comparto dibujos que realizo en mi tiempo libre. Es un espacio para conectar con otros amantes del arte y mostrar mi evolución.
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Situación Actual</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Actualmente soy estudiante en la <strong>Escuela Politécnica Nacional</strong>, donde estoy cursando la <strong>carrera de Desarrollo de Software</strong> en la etapa de <strong>nivelación</strong>. Mi objetivo es adquirir las habilidades y conocimientos necesarios para convertirme en un desarrollador de software exitoso, capaz de enfrentar los desafíos de la tecnología moderna.</p>
    </ion-card-content>
  </ion-card> 

  <h2>Habilidades Técnicas</h2>
  <p>Estas son algunas de las habilidades que he ido desarrollando a lo largo de mi vida</p>

  <ion-list>
    <ion-item>
      <ion-icon aria-hidden="true" name="code-slash" slot="start"></ion-icon>
      <ion-label>Desarrollador Full Stack</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon aria-hidden="true" name="logo-nodejs" slot="start"></ion-icon>
      <ion-label>Node.js</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon aria-hidden="true" name="logo-react" slot="start"></ion-icon>
      <ion-label>React</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon aria-hidden="true" name="server" slot="start"></ion-icon>
      <ion-label>MongoDB</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon aria-hidden="true" name="logo-python" slot="start"></ion-icon>
      <ion-label>Python</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon aria-hidden="true" name="brush" slot="start"></ion-icon>
      <ion-label>Artista a tiempo parcial</ion-label>
    </ion-item>
  </ion-list>

  <h2>Nivel de Conocimiento</h2>

  <ion-item>
    <ion-label>C++</ion-label>
    <ion-progress-bar value="0.85" color="primary"></ion-progress-bar>
  </ion-item>
  
  <ion-item>
    <ion-label>C#</ion-label>
    <ion-progress-bar value="0.75" color="secondary"></ion-progress-bar>
  </ion-item>
  
  <ion-item>
    <ion-label>Lua</ion-label>
    <ion-progress-bar value="0.65" color="tertiary"></ion-progress-bar>
  </ion-item>
  
  <ion-item>
    <ion-label>Java</ion-label>
    <ion-progress-bar value="0.80" color="success"></ion-progress-bar>
  </ion-item>
  
  <ion-item>
    <ion-label>JavaScript</ion-label>
    <ion-progress-bar value="0.90" color="warning"></ion-progress-bar>
  </ion-item>
  
  <ion-item>
    <ion-label>TypeScript</ion-label>
    <ion-progress-bar value="0.70" color="danger"></ion-progress-bar>
  </ion-item>
  
  <ion-item>
    <ion-label>Python</ion-label>
    <ion-progress-bar value="0.95" color="dark"></ion-progress-bar>
  </ion-item>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Arte Destacado</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="6" size-sm="4">
            <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/ee91975d-4eb1-4ee2-bc1b-336ee1da7502/dgc2muy-3ab5eaae-eaec-416c-8b68-85bb36910fc2.jpg/v1/fill/w_932,h_857,q_70,strp/nathy_halloween_2023_cadaver_de_la_novia_by_hidokun_dgc2muy-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9OTMzIiwicGF0aCI6IlwvZlwvZWU5MTk3NWQtNGViMS00ZWUyLWJjMWItMzM2ZWUxZGE3NTAyXC9kZ2MybXV5LTNhYjVlYWFlLWVhZWMtNDE2Yy04YjY4LTg1YmIzNjkxMGZjMi5qcGciLCJ3aWR0aCI6Ijw9MTAxNSJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.fFT0KnVB12ZZj-Sjd9N5rdxnhDMgaKSjsFT9YbOtR_A" style="width: 100%; border-radius: 8px;" />
            <p>Arte de Halloween 2023</p>
          </ion-col>
          <ion-col size="6" size-sm="4">
            <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/ee91975d-4eb1-4ee2-bc1b-336ee1da7502/di8u49a-baec47f4-6031-469a-b749-de3ef12ac456.png/v1/fit/w_828,h_1336,q_70,strp/king_hidokun_remastered_by_hidokun_di8u49a-414w-2x.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MjA0OCIsInBhdGgiOiJcL2ZcL2VlOTE5NzVkLTRlYjEtNGVlMi1iYzFiLTMzNmVlMWRhNzUwMlwvZGk4dTQ5YS1iYWVjNDdmNC02MDMxLTQ2OWEtYjc0OS1kZTNlZjEyYWM0NTYucG5nIiwid2lkdGgiOiI8PTEyNzAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.i_DPXxjXQKqjIXu5VOSlrcMdqt_OaM0Ph2JkJ54kgs0" style="width: 100%; border-radius: 8px;" />
            <p>Remake de un dibujo de 2020</p>
          </ion-col>
          <ion-col size="6" size-sm="4">
            <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/ee91975d-4eb1-4ee2-bc1b-336ee1da7502/dgqqrps-062cff16-48eb-47d3-8971-8126eea1c8f6.png/v1/fill/w_873,h_916,q_70,strp/lady_11_by_hidokun_dgqqrps-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTI5MCIsInBhdGgiOiJcL2ZcL2VlOTE5NzVkLTRlYjEtNGVlMi1iYzFiLTMzNmVlMWRhNzUwMlwvZGdxcXJwcy0wNjJjZmYxNi00OGViLTQ3ZDMtODk3MS04MTI2ZWVhMWM4ZjYucG5nIiwid2lkdGgiOiI8PTEyMjkifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.s3GFlZBuIg5Uo7fm06v42ZLNvKHTOMEqQYWjOqrp33Q" style="width: 100%; border-radius: 8px;" />
            <p>Comisión para mi mejor amiga Lady</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6" size-sm="4">
            <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/ee91975d-4eb1-4ee2-bc1b-336ee1da7502/dhzhwvr-ed42043e-e8e7-492d-9e1b-fd78856fa184.png/v1/fill/w_1032,h_774,q_70,strp/hidokun_chaos_cola_by_hidokun_dhzhwvr-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9OTYwIiwicGF0aCI6IlwvZlwvZWU5MTk3NWQtNGViMS00ZWUyLWJjMWItMzM2ZWUxZGE3NTAyXC9kaHpod3ZyLWVkNDIwNDNlLWU4ZTctNDkyZC05ZTFiLWZkNzg4NTZmYTE4NC5wbmciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.kLXvIKSycIrQZ5QH_qyhhmsyYTe-O7lc84icBA_IwUk" style="width: 100%; border-radius: 8px;" />
            <p>Promoción de mi canal de YouTube</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-footer>
    <ion-toolbar color="dark">
      <ion-item lines="none">
        <ion-title>Conéctate conmigo</ion-title>
        <ion-buttons slot="end">
          <ion-button>
            <ion-icon slot="icon-only" name="logo-twitter" size="large"></ion-icon>
          </ion-button>
          <ion-button>
            <ion-icon slot="icon-only" name="logo-github" size="large"></ion-icon>
          </ion-button>
          <ion-button>
            <ion-icon slot="icon-only" name="logo-youtube" size="large"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
  
      <ion-item lines="none">
        <ion-title>Contáctame</ion-title>
        <div slot="end" class="ion-text-right">
          <p>Correo: pochitoyuverly&#64;gmail.com</p>
          <p>Teléfono: +593 96 118 9229</p>
        </div>
      </ion-item>
    </ion-toolbar>
  
    <ion-toolbar color="medium">
      <ion-title class="ion-text-center">© 2024 Yuverly Verdezoto - Todos los derechos reservados</ion-title>
    </ion-toolbar>
  </ion-footer>

  
</ion-content>
